/* PADRAO */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    background-color: #F8F8FF;
}

.custom-input-editar {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: #f9fafb;
}

.custom-input-editar:focus {
    outline: none;
    border-color: #2563eb;
    background-color: #fff;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
}

.custom-input-nascimento {
    width: 200px;
    padding: 12px 14px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: #f9fafb;
}

.custom-input-nascimento:focus {
    outline: none;
    border-color: #2563eb;
    background-color: #fff;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
}

.custom-btn {
    width: 120px;
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
    padding: 12px;
    border-radius: 8px;
    color: white;
    background: linear-gradient(90deg, #0000FF 0%, #00FFF7 100%);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: filter 0.3s ease, transform 0.6s ease;
}

.custom-btn:hover {
    filter: brightness(0.75);
}
/* PADRAO */

/* PAGINA DE INICIO */
.conteirner-nav-publica {
    background:
    transparent;
      box-shadow: 0px 20px 40px rgba(37, 9, 62, 0.1);
      backdrop-filter: saturate(180%) blur(20px);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 10;
    position: fixed;
}

.img-nav-logo {
    padding: 0;
    width: 160px;
    height: auto;
}

.div-img-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
    margin-top: 85px;
}

.div-btn-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-right: 20px;
}

/* MODAL LOGIN */
.modal-login {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.modal-login-content {
    background-color: #ffffff;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    margin: 10% auto;
    padding: 30px 40px;
    width: 50%;
    max-width: 420px;
    border-radius: 16px;
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-30px); }
    to { opacity: 1; transform: translateY(0); }
}

.close-login {
    position: absolute;
    top: 5px;
    right: 20px;
    color: #aaa;
    float: right;
    font-size: 30px;
    color: #888;
    cursor: pointer;
    transition: color 0.2s;
}

.close-login:hover {
    color: #000;
}

.div-form-login {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.div-login-p {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.div-login-btn {
    display: flex;
    justify-content: center;
    gap: 16px;
}
/* MODAL LOGIN */

/* MODAL RECUPERAR CONTA */
.modal-recuperar-conta {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.modal-recuperar-conta-content {
    background-color: #ffffff;;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    margin: 10% auto;
    padding: 30px 40px;
    width: 50%;
    max-width: 420px;
    border-radius: 16px;
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-30px); }
    to { opacity: 1; transform: translateY(0); }
}

.close-recuperar-conta {
    position: absolute;
    top: 5px;
    right: 20px;
    color: #aaa;
    float: right;
    font-size: 30px;
    color: #888;
    cursor: pointer;
    transition: color 0.2s;
}

.close-recuperar-conta:hover {
    color: #000;
}
/* MODAL RECUPERAR CONTA */

/* MODAL CADASTRAR */
.modal-cadastrar {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.modal-cadastrar-content {
    background-color: #ffffff;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    padding: 30px 40px;
    margin: 7% auto;
    width: 50%;
    max-width: 500px;
    border-radius: 16px;
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-30px); }
    to { opacity: 1; transform: translateY(0); }
}

.close-cadastrar {
    position: absolute;
    top: 5px;
    right: 20px;
    color: #aaa;
    float: right;
    font-size: 30px;
    color: #888;
    cursor: pointer;
    transition: color 0.2s;
}

.close-cadastrar:hover {
    color: #000;
}

.div-form-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.div-cadastro-p {
    margin: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.div-data-column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.div-cadastro-genero {
    margin-top: 30px;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-cadastro-btn {
    margin-top: 20px;
    gap: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* MODAL CADASTRAR */

/* INICIO */
.conteiner-inicio {
    width: 100%;
    margin-top: 130px;
}

.div-inicio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 50px;
}

.div-inicio-colm1 {
    position: relative;
    width: 700px;
    height: auto;
    margin-left: 150px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.div-inicio-colm1 h1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 1.02;
    letter-spacing: -0.01em;
}

.div-inicio-colm1 h2 {
    color: #059ae7;
    font-weight: 400;
    font-size: 26px;
    margin: 0;
}

.div-inicio-colm1 p {
    font-size: 18px;
    line-height: 1.68;
    letter-spacing: 0.02em;
    color: #737272;
}

.div-inicio-colm2 {
    position: relative;
    width: 500px;
    height: auto;
    margin-right: 150px;
    margin-left: 10px;
}

.img-section-icone1 {
    position: absolute;
    top: 60px;
    left: 70px;
    width: 50px;
    height: auto;
    z-index: 2;
    animation: icone1-float 4s ease-in-out infinite;
}

@keyframes icone1-float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}

.img-section-icone2 {
    position: absolute;
    top: 5px;
    left: 400px;
    width: 50px;
    height: auto;
    z-index: 2;
    animation: icone2-float 5s ease-in-out infinite;
}

@keyframes icone2-float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

.img-section-icone3 {
    position: absolute;
    top: 180px;
    left: 500px;
    width: 50px;
    height: auto;
    z-index: 2;
    animation: icone3-float 6s ease-in-out infinite;
}

@keyframes icone3-float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0px);
    }
}

.gif-section-card-divulga {
    position: absolute;
    bottom: 35px;
    left: 30px;
    width: 150px;
    height: auto;
    z-index: 2;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.img-section-garota {
    width: 480px;
    height: auto;
    display: block;
}

.conteiner-info {
    width: 100%;
    margin-top: 100px;
}

.div-info {
    width: 80%;
    margin: 0 auto;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.div-info-card {
    width: 350px;
    height: 500px;
    background-color: rgba(180, 227, 250, 0.7);
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 50px;
    transition: transform 0.7s ease;
}

.div-info-card:hover {
    transform: scale(1.07);
}

.img-info-card {
    width: 40px;
    height: auto;
    margin-bottom: 20px;
}

.div-info-card h2 {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.02;
    letter-spacing: -0.01em;
    color: #2c3e50;
}

.div-info-card p {
    font-size: 16px;
    line-height: 1.68;
    letter-spacing: 0.02em;
    color: #737272;
    margin-top: 30px;
}

.conteiner-pag {
    width: 100%;
    margin-top: 50px;
}

.div-pag {
    margin: 0 auto;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-pag-img {
    margin-right: 100px;
    position: relative;
}

.img-pag-catalogo-exemplo {
    position: absolute;
    top: 80px;
    left: 350px;
    width: 220px;
    height: auto;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 2;
    animation: img-pag-catalogo-exemplo 5s ease-in-out infinite;
}

@keyframes img-pag-catalogo-exemplo {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-60px);
    }
    100% {
        transform: translateX(0px);
    }
}

.img-pag-preço-card {
    position: absolute;
    top: 400px;
    left: 10px;
    width: 220px;
    height: auto;
    box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    z-index: 2;
    animation: img-pag-preço-card 3s ease-in-out infinite;
}

@keyframes img-pag-preço-card {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0px);
    }
}

.img-pag-garoto {
    width: 500px;
    height: auto;
    display: block;
}

.pagamento-texto {
    width: 700px;
    background: white;
    padding: 25px 30px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    color: #333;
}

.pagamento-texto h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #2c3e50;
}

.pagamento-texto p {
    font-size: 16px;
    margin-bottom: 12px;
    line-height: 1.6;
}

.pagamento-texto p strong {
    color: #1abc9c;
}

.pagamento-texto ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 15px;
}

.pagamento-texto ul li {
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
}

.pagamento-texto ul li::before {
    content: '✔';
    position: absolute;
    left: 0;
    color: #1abc9c;
    font-weight: bold;
    font-size: 18px;
}

.conteiner-crie-conta {
    width: 100%;
    margin-top: 70px;
}

.div-crie-conta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 50px auto;
    padding: 30px 20px;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    gap: 10px;
}

.div-crie-conta h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #2c3e50;
    margin-left: 20px;
    margin-right: 20px;
}

.conteiner-tire-duvidas {
    width: 100%;
    margin-top: 70px;
}

.div-duvidas-h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-duvidas-h2 h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #2c3e50;
    margin-left: 20px;
    margin-right: 20px;
}

.div-tire-duvidas {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.div-tire-duvidas-colm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 400px;
    gap: 20px;
}

.div-tire-duvidas-colm2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    gap: 28px;
}

.custom-input-text-area-editar {
    width: 100%;
    height: 120px !important;
    padding: 12px 14px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
}
/* INICIO */
/* PAGINA DE INICIO */

/* FOOTER */
.conteiner-footer {
    width: 100%;
    margin-top: 70px;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    box-shadow: 0 -4px 25px rgba(0, 0, 0, 0.08);
}

.div-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.div-logos-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.img-logo-footer-boxshop {
    padding: 0;
    width: 160px;
    height: auto;
}

.img-logo-footer-mycoding {
    padding: 0;
    width: 120px;
    height: auto;
    cursor: pointer;
}

.div-footer-p {
    margin: 0;
    margin-top: 40px;
}

.div-footer-p p {
    font-size: 18px;
    color: #2c3e50;
    margin-left: 20px;
    margin-right: 20px;
}
/* FOOTER */
