/* PADRAO */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.custom-input-editar {
    width: 420px;
    border: 1px solid #aaa;
}

.custom-input-nascimento {
    width: 200px;
    border: 1px solid #aaa;
}

.custom-btn {
    width: 94px;
    background-color: #00c8ff;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-btn:hover {
    background-color: #006aff;
}
/* PADRAO */

/* PAGINA DE INICIO */
/* MODAL LOGIN */
.modal-login {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-login-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.close-login {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-login:hover {
    color: #000;
}

.div-form-login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.div-login-p {
    margin: 0;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.div-login-btn {
    margin-top: 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* MODAL LOGIN */

/* MODAL RECUPERAR CONTA */
.modal-recuperar-conta {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-recuperar-conta-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.close-recuperar-conta {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-recuperar-conta:hover {
    color: #000;
}
/* MODAL RECUPERAR CONTA */

/* MODAL CADASTRAR */
.modal-cadastrar {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-cadastrar-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.close-cadastrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-cadastrar:hover {
    color: #000;
}

.div-form-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.div-cadastro-p {
    margin: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.div-data-column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.div-cadastro-genero {
    margin-top: 30px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-cadastro-btn {
    margin-top: 20px;
    gap: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* MODAL CADASTRAR */
/* PAGINA DE INICIO */