<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Reggae+One&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <link rel="icon" th:href="@{/images/boxshoplogo.png}"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/antd@4.18.6/dist/antd.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>BoxShop</title>
</head>

<body>
    <header class="conteirner-nav-publica">
        <div class="div-img-header">
            <img th:src="@{/images/boxshoplogo.png}" alt="Logo da Box Shop" class="img-nav-logo">
        </div>

        <div class="div-btn-header">
            <button type="button" onclick="openModalLogin()" class="ant-input custom-btn">Entrar</button>
            <button type="button" onclick="openModalCadastrar()" class="ant-input custom-btn">Cadastrar</button>
        </div>
    </header>

    <!-- FORMULARIO DE LOGIN-->
    <div id="loginModal" class="modal-login">
        <div class="modal-login-content">
            <span class="close-login" onclick="closeModalLogin()">&times;</span>

            <form th:action="@{/login-logista}" method="post">
                <h2 class="ant-typography ant-typography-title ant-typography-title-2">Entrar</h2>

                <div class="div-form-login">
                    <div class="div-login-p">
                        <input type="email" id="email-login" name="email" placeholder="E-mail"
                               class="ant-input custom-input-editar" required>

                        <input type="password" id="senha-login" name="senha" placeholder="Senha"
                               class="ant-input custom-input-editar" required>
                    </div>

                    <div class="div-login-btn">
                        <button type="button" onclick="openModalRecuperarConta()" class="ant-input custom-btn">Recuperar</button>
                        <button type="submit" class="ant-input custom-btn">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- FORMULARIO DE LOGIN-->

    <!-- FORMULARIO DE RECUPERAR CONTA-->
    <div id="recuperarContaModal" class="modal-recuperar-conta">
        <div class="modal-recuperar-conta-content">
            <span class="close-recuperar-conta" onclick="closeModalRecuperarConta()">&times;</span>

            <form th:action="@{/recuperar-conta-logista}" method="post">
                <h2 class="ant-typography ant-typography-title ant-typography-title-2">Recuperar Conta</h2>

                <div class="div-form-login">
                    <div class="div-login-p">
                        <input type="email" id="email-recuperar-conta" name="email" placeholder="E-mail"
                               class="ant-input custom-input-editar" required>
                    </div>

                    <div class="div-login-btn">
                        <button type="submit" class="ant-input custom-btn">Recuperar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- FORMULARIO DE RECUPERAR CONTA-->

    <!-- FORMULARIO DE CADASTRO-->
    <div id="cadastrarModal" class="modal-cadastrar">
        <div class="modal-cadastrar-content">
            <span class="close-cadastrar" onclick="closeModalCadastrar()">&times;</span>

            <form th:action="@{/cadastrar-logista}" method="post">
                <!-- ETAPA 1: INFORMAÇÕES PESSOAIS -->
                <div id="etapa1">
                    <h2 class="ant-typography ant-typography-title ant-typography-title-2">Cadastrar</h2>

                    <div class="div-form-cadastro">
                        <div>
                            <div class="div-cadastro-p">
                                <label>Nome Completo</label>
                                <input type="text" name="nomeCompletoLogista" placeholder="Digite o seu nome"
                                       pattern="[A-Za-zÀ-ÿ\s]+" required class="ant-input custom-input-editar">
                            </div>

                            <div class="div-cadastro-p">
                                <label>CPF</label>
                                <input type="text" name="cpfLogista"
                                       placeholder="Digite o seu CPF" onkeyup="formatarCPF(this)"
                                       maxlength="14" title="CPF inválido"
                                       required class="ant-input custom-input-editar">
                            </div>

                            <div class="div-data-column">
                                <div class="div-cadastro-p">
                                    <label>Data de Nascimento</label>
                                    <input type="date" name="dataNascimentoLogista" required
                                           class="ant-input custom-input-nascimento">
                                </div>

                                <div class="div-cadastro-genero">
                                    <label>
                                        <input type="radio" name="generoLogista" value="Masculino" required>
                                        Masculino
                                    </label>

                                    <label>
                                        <input type="radio" name="generoLogista" value="Feminino" required>
                                        Feminino
                                    </label>
                                </div>
                            </div>

                            <div class="div-cadastro-btn">
                                <button type="button" class="ant-input custom-btn" onclick="proximaEtapa()">Próximo</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ETAPA 2: INFORMAÇÕES DO COMÉRCIO -->
                <div id="etapa2" style="display: none;">
                    <h2 class="ant-typography ant-typography-title ant-typography-title-2">Informações Comerciais</h2>

                    <div class="div-form-cadastro">
                        <div>
                            <div class="div-cadastro-p">
                                <label>Nome do Comércio</label>
                                <input type="text" name="nomeComercioLogista" placeholder="Auto-peças dois irmãos"
                                       required class="ant-input custom-input-editar">
                            </div>

                            <div class="div-cadastro-p">
                                <label>E-mail Comercial</label>
                                <input type="email" name="emailComercioLogista" placeholder="Digite o e-mail comercial"
                                       pattern="^(?!.*..)([a-zA-Z0-9._%+-]+)@([a-zA-Z0-9.-]+).([a-zA-Z]{2,})$"
                                       required title="E-mail inválido" class="ant-input custom-input-editar">
                            </div>

                            <div class="div-data-column">
                                <div class="div-cadastro-p">
                                    <label>Whatsapp Comercial</label>
                                    <input type="tel" name="whatsappComercioLogista"
                                           placeholder="Digite o whatsapp" maxlength="11" minlength="11" required
                                           title="Número inválido" onkeyup="formatarTelefone(this)" class="ant-input custom-input-nascimento">
                                </div>

                                <div class="div-cadastro-p">
                                    <label>Selecione</label>
                                    <select name="tipoComercioLogista" required class="ant-input custom-input-nascimento">
                                        <option value="" disabled selected hidden>Tipo de Comércio</option>
                                        <option value="Alimentação">Alimentação</option>
                                        <option value="Barbearia">Barbearia</option>
                                        <option value="Beleza/Estética">Beleza/Estética</option>
                                        <option value="Bebidas">Bebidas</option>
                                        <option value="Cursos">Cursos</option>
                                        <option value="Estúdio">Estúdio</option>
                                        <option value="Loja">Loja</option>
                                        <option value="Materiais">Materiais</option>
                                        <option value="PetShop">PetShop</option>
                                        <option value="Outros">Outros</option>
                                    </select>
                                </div>
                            </div>

                            <div class="div-cadastro-p">
                                <label>Senha</label>
                                <input type="password" name="senhaComercialLogista" placeholder="Digite sua senha" pattern=".{8,}"
                                       required title="A senha deve ter pelo menos 8 caracteres" class="ant-input custom-input-editar">
                            </div>

                            <div class="div-cadastro-btn">
                                <button type="button" class="ant-input custom-btn" onclick="voltarEtapa()">Voltar</button>
                                <button type="button" class="ant-input custom-btn" onclick="verificarNomeComercio()">Cadastrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- FORMULARIO DE CADASTRO-->

    <section>
        <div class="conteiner-inicio">
            <div class="div-inicio">
                <div class="div-inicio-colm1">
                    <h1>
                        Monte seu catálogo online na
                        <span><span style="color: #059ae7;">Box</span><span style="color: #023b6b;">Shop</span></span>
                        e divulgue com um único link.
                    </h1>
                    <h2>Rápido, prático e eficiente!</h2>
                    <p>
                        Com a <strong>BoxShop</strong>, você cria seu catálogo digital em poucos minutos,
                        organiza seus produtos por categorias e compartilha tudo com seus clientes usando apenas um link.
                    </p>
                </div>

                <div class="div-inicio-colm2">
                    <img th:src="@{/images/icone1.png}" class="img-section-icone1">
                    <img th:src="@{/images/icone2.png}" class="img-section-icone2">
                    <img th:src="@{/images/icone3.png}" class="img-section-icone3">
                    <img th:src="@{/images/card-divulga.gif}" class="gif-section-card-divulga">
                    <img th:src="@{/images/garota.png}" class="img-section-garota">
                </div>
            </div>
        </div>


        <div class="conteiner-info">
            <div class="div-info">
                <div class="div-info-card">
                    <img th:src="@{/images/catalogo-digital.png}" class="img-info-card">
                    <h2>Catálogo Digital</h2>
                    <p>Com o catálogo digital da BoxShop, você pode criar sua própria vitrine online de forma simples e rápida.
                        Basta cadastrar seus produtos com imagens, preços e descrições, organizar por categorias
                        e compartilhar o link exclusivo com seus clientes.</p>
                </div>

                <div class="div-info-card">
                    <img th:src="@{/images/carrinho.png}" class="img-info-card">
                    <h2>Carrinho</h2>
                    <p>O carrinho da Box Shop permite que os clientes selecionem os produtos no catálogo e, ao finalizar
                        a escolha, enviem os itens diretamente para o WhatsApp da loja.
                        De lá, a loja pode seguir com o atendimento ou finalizar a compra de maneira simples e rápida.</p>
                </div>

                <div class="div-info-card">
                    <img th:src="@{/images/tipos-servicos.png}" class="img-info-card">
                    <h2>Tipos de Serviço</h2>
                    <p>Os serviços da Box Shop são versáteis e podem ser adaptados para diversos tipos de comércio.
                        Seja para lojas que desejam vender produtos, realizar amostras de itens ou até mesmo oferecer serviços personalizados,
                        nossa plataforma oferece a flexibilidade necessária para atender a diferentes necessidades de negócios.</p>
                </div>
            </div>
        </div>

        <div class="conteiner-pag">
            <div class="div-pag">
                <div class="div-pag-img">
                    <img th:src="@{/images/preço-card.png}" class="img-pag-preço-card">
                    <img th:src="@{/images/catalogo-exemplo.png}" class="img-pag-catalogo-exemplo">
                    <img th:src="@{/images/garoto.png}" class="img-pag-garoto">
                </div>

                <div class="pagamento-texto">
                    <h2>Por apenas R$ 14,90 por mês!</h2>
                    <p>Ter presença digital nunca foi tão fácil e acessível. Com a <span><span style="color: #059ae7; font-weight: 700;">Box</span><span style="color: #023b6b; font-weight: 700;">Shop</span></span>,
                        você cria seu catálogo online completo, sem precisar gastar muito com a criação e manutenção de um site tradicional.</p>
                    <p><strong>Por apenas R$ 14,90/mês, você terá:</strong></p>
                    <ul>
                        <li>Um catálogo digital bonito, organizado e fácil de usar;</li>
                        <li>Link personalizado para divulgar nas redes sociais e WhatsApp;</li>
                        <li>Catálogo completo com categorias para você cadastrar todos os seus produtos;</li>
                        <li>Maior visibilidade para seus produtos, impulsionando suas vendas;</li>
                        <li>Economia de tempo e dinheiro, sem necessidade de contratar desenvolvedores ou manter um site caro.</li>
                    </ul>
                    <p><strong>Aposte no simples, funcional e que cabe no seu bolso. Venha para a BoxShop!</strong></p>
                </div>
            </div>
        </div>

        <div class="conteiner-crie-conta">
            <div class="div-crie-conta">
                <h2 class="mensagem-crie-conta">
                    Crie sua conta comercial, rápida e segura, e comece a divulgar seu catálogo online.
                </h2>

                <button type="button" onclick="openModalCadastrar()" class="ant-input custom-btn">Cadastrar</button>
            </div>
        </div>

        <div class="conteiner-tire-duvidas">
            <div class="div-duvidas-h2">
                <h2>Tire suas dúvidas</h2>
            </div>

            <form th:action="@{/enviar-duvidas}" method="post">
                <div class="div-tire-duvidas">
                    <div class="div-tire-duvidas-colm">
                        <input type="text" name="nomeCompletoDuvidas" placeholder="Digite o seu nome"
                               pattern="[A-Za-zÀ-ÿ\s]+" required
                               style="background-color: white; border: 1px solid #b2b4b8;" class="ant-input custom-input-editar">

                        <input type="email" name="emailDuvidas" placeholder="Digite o seu e-mail"
                               pattern="^(?!.*..)([a-zA-Z0-9._%+-]+)@([a-zA-Z0-9.-]+).([a-zA-Z]{2,})$"
                               required title="E-mail inválido"
                               style="background-color: white; border: 1px solid #b2b4b8;" class="ant-input custom-input-editar">

                        <input type="tel" name="numeroLogista"
                               placeholder="Digite seu o telefone" maxlength="11" minlength="11" required
                               title="Número inválido" onkeyup="formatarTelefone(this)"
                               style="background-color: white; border: 1px solid #b2b4b8;" class="ant-input custom-input-nascimento">
                    </div>

                    <div class="div-tire-duvidas-colm2">
                        <textarea name="descricaoDuvidas" placeholder="Descreva sua dúvida..." required
                                  style="resize: none; background-color: white; border: 1px solid #b2b4b8;" class="ant-input custom-input-text-area-editar"></textarea>

                        <button type="submit" class="ant-input custom-btn">Enviar</button>
                    </div>
                </div>
            </form>
        </div>

    </section>

    <!-- Renderiza mensagem de sucesso -->
    <div th:if="${successMessage}">
        <script th:inline="javascript">
            Swal.fire({
                icon: 'success',
                text: [[${successMessage}]],
                confirmButtonText: 'OK',
                confirmButtonColor: '#00ff00'
            });
        </script>
    </div>

    <!-- Renderiza mensagem de erro -->
    <div th:if="${errorMessage}">
        <script th:inline="javascript">
            Swal.fire({
                icon: 'error',
                text: [[${errorMessage}]],
                confirmButtonText: 'OK',
                confirmButtonColor: '#00ff00'
            });
        </script>
    </div>

    <script th:src="@{/js/javascript.js}"></script>
</body>
</html>